ipykernel
numpy
pandas
openpyxl
python-docx
pypdf
pymupdf
pygame
opencv-python
fastapi
uvicorn
sqlalchemy
psycopg2-binary
pymongo
python-dotenv
certifi
pydantic
email-validator==2.3.0
openai
qdrant_client
neo4j
mcp
supabase