NEON_DB_URL = "Your Neon database URL here"
MONGO_DB_URL = "Your MongoDB database URL here"

qdrant_api_key="Your Qdrant API key here"
qdrant_url="Your Qdrant URL here"

euron_api_key="Your Euron API key here"

NEO4J_URI="Your Neo4j URI here"
NEO4J_USERNAME="Your Neo4j username here"
NEO4J_PASSWORD="Your Neo4j password here"